  <!DOCTYPE html>








<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Restaurant</title>

<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<script>
    document.createElement('header');
    document.createElement('section');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('nav');
    document.createElement('footer');
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
</head>

<body>
 <header>
 <div class="container">
  <div class="col-xs-4 back"><a href="./index.html"><i aria-hidden="true" class="fa fa-rotate-left"></i></a></div>
  <div class="col-xs-4 logo-sm"><a href="#"><img src="images/logo-sm.png" alt=""></a></div>
  <div class="col-xs-4 menu-toggle"><a href="#" class="icon-menu"><i aria-hidden="true" class="fa fa-list-ul"></i></a></div>
 </div>
 </header>
<div class="divider"></div>
<nav class="menu"> 
  <div class="icon-close"><a>CLOSE</a>  <i class="fa fa-close"></i> </div>
  <ul>
    <li> <a href="#">About</a></li>
    <li><a href="#">Blog</a></li>d
    <li><a href="#">Help</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
<div class="page-title">Menu</div>
<div class="offer">Special offers</div>
<div class="top-bar">
<span class="cart"><i aria-hidden="true" class="fa fa-shopping-cart"></i> Cart</span><span class="cart-count">1</span></div>
<section class="sec-offer">
<div class="food-menu">
 <ul>
   <!-- INSERT HERE -->
  </ul>
 </div>
</section>
<footer>
<a href="#" class="btn btn-order">Order Now</a>
</footer>
</body>
</html>